<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hutcwp.cartoon">

    <application>
        <activity android:name=".webp.ui.ListComicActivity"></activity>
        <activity android:name=".webp.ui.ComicSlideActivity" />
        <activity android:name=".webp.ui.ComicActivity" />
        <activity android:name=".webp.ui.LoadActivity" />
        <activity android:name=".webp.ui.MainActivity" />
    </application>

</manifest>