<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hutcwp.read">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/KaleTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.hutcwp.read.ui.MainActivity" />
        <activity android:name="com.hutcwp.read.ui.setting.SettingActivity" />
        <activity android:name="com.hutcwp.read.ui.setting.AboutActivity" />

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

        <activity
            android:name="com.hutcwp.read.ui.home.other.PicDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>