<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hutcwp.game">

    <application>
        <activity android:name=".jigsaw.MainActivity"></activity>
        <activity android:name=".GameMainActivity" />
        <activity android:name=".luckypan.LuckyMainActivity" />
        <activity
            android:name=".wuziqi.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sanguo.ui.MainGameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>