<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hutcwp.common">

    <application>
        <activity android:name=".web.WebInputActivity"></activity>
        <activity
            android:name=".web.EasyWebActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>