<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hutcwp.weather">


    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/wea_network_security_config"
        android:supportsRtl="true"
        android:theme="@style/KaleTheme">

        <activity
            android:name=".activities.SelectCityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activities.WeatherInfoActivity"
            android:label="@string/wea_title_activity_weather_info"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>